/*
Theme Name:     iBS Ltd Theme
Theme URI:      https://www.ibs.gr/
Description:    iBS Ltd Theme
Author:         iBS Team
Author URI:     https://www.ibs.gr/
Template:       Divi
Version:        1.0.0
*/



a {
    cursor: pointer;
}


h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    font-weight: 400;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

li, p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
}
canvas{
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index: 0;
}
/*HOME PAGE GlOBAL*/
.home h1, .home h2, .home h3, .home p, .home li {
    color: #fff;
}
#page-container {
    overflow-y: auto;

}

header,
.et_mobile_menu{
    background-color:  #0b071d !important;
}

.et_header_style_left .logo_container {
    min-height: 70px;
}
#et-top-navigation {
    display: none;
}

/*SECTIONS*/
.page-template-one-page .et_pb_section{
    opacity:.9;
    z-index: 3;
}
#home{
    z-index: -1;
    background: linear-gradient(45deg, #4389A2, #5C258D);
}
#works img {
    min-height: 200px;
}

#works article {
    background: transparent;
    border: 0;
}


/*RIGHT NAVIGATION*/
#fp-nav{
    display: none;
}

/*FOOTER*/

#main-footer {
    z-index: 3;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    padding: 5px 0;
    align-items: center;
    border-top: 3px solid #fff;
    background: #0b071d;
    position: relative;

}

#footer-bottom,
#et-footer-nav {
    background: transparent;
}

#footer-info,
.bottom-nav a,
#footer-info a,
.et-social-icon a,
.et_mobile_menu li a{
    color: #fff;
}

#footer-bottom .container {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.et-social-icons li {
    margin-left: 0;
}

.bottom-nav li a {
    position: relative;
    display: inline-block;
    width: auto;
}

.bottom-nav li a:after {
    position: absolute;
    right: 0;
    bottom: 4px;
    left: 0;
    height: 2px;
    content: '';
    -webkit-transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
    background: currentcolor;
}
.bottom-nav li.active a:after,
.bottom-nav li:hover a:after {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 1;
}

@media screen and (min-width: 782px) {
    #main-footer {
        flex-flow: row;
        justify-content: space-between;
    }

    #footer-bottom,
    #et-footer-nav {
        width: 50%;
    }
}
/*LEGAL TEMPLATE*/
body.page-template-legal p,
body.page-template-legal li {
    font-size: 12px;
    /*margin: 0 0 8.5px;*/
}
body.page-template-legal h1.entry-title {
   font-size:26px;
}
body.page-template-legal h4{
    margin-bottom: 10px;
}
body.page-template-legal{
    overflow-x:hidden;
    overflow-y: scroll;
}
body.page-template-legal #main-header.et-fixed-header,
body.page-template-legal .et_fixed_nav #top-header{
    position:relative !important;
}
body.page-template-legal .logo_container{
    text-align: center;
    margin-top: 30px;
    min-height: 100px;
}
body.page-template-legal #page-container{
    background-color: #01023a;
}
body.page-template-legal #main-content{
    background-color: transparent;
}
body.page-template-legal #main-content > .container{
    padding-top: 283px;
    max-width: 960px;
}
body.page-template-legal article{
    padding: 40px 60px;
    background-color: #fff;
    margin-bottom: 20px;
}
body.page-template-legal  #et-main-area #main-footer{
    display: none;
}
/*POST PAGE*/
/*.post-template-default{*/
/*    overflow-x:hidden;*/
/*    overflow-y:scroll;*/
/*}*/
/*.post-template-default #page-container{*/
/*    padding-top:0!important;*/
/*}*/
/*.post-template-default #main-content{*/
/*    background-color: #0b071d!important;*/
/*    opacity: .9;*/
/*}*/
/*.post-template-default #content-area{*/
/*    padding-top:100px;*/
/*}*/
/*.post-template-default #main-footer{*/
/*    background: #0b071d;*/
/*}*/
@media screen and (min-width: 981px) {
    body.page-template-one-page {
        overflow: hidden;
        height: 100%;
    }
    body.page-template-one-page ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    header {
        background-color:  transparent !important;
    }

    #main-header.et-fixed-header{
        box-shadow: none !important;
    }
    body.page-template-one-page #page-container{
        padding-top: 0!important;
    }
    body.page-template-one-page .custom-template .et_pb_row {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 7s cubic-bezier(0.19, 1, 0.22, 1),opacity 8s cubic-bezier(0.19, 1, 0.22, 1);
        transition: visibility 7s cubic-bezier(0.19, 1, 0.22, 1),opacity 8s cubic-bezier(0.19, 1, 0.22, 1);

    }

    body.page-template-one-page .custom-template .et_pb_section.active .et_pb_row {
        opacity: 1;
        visibility: visible;
    }

    .et_pb_section {
        position:relative;
        padding: 100px 0 0!important;
    }

    /*RIGHT NAVIGATION*/
    #fp-nav{
        display: block;
        position: fixed;
        z-index: 4;
    }
    .nav-position {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-position ul {
        display: flex;
        flex-flow: column;
        padding: 0 1rem;
    }

    .nav-position ul li {
        display: block;
        width: 3rem;
        height: 2.5rem;
        position: relative;
    }

    .nav-position ul li:before {
        content: '';
        position: absolute;
        top: calc(50% - 2px);
        left: calc(50% - 2px);
        display: block;
        width: 5px;
        height: 5px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        border-radius: 0;
        background: #fff;
        z-index: 3;
    }

    .nav-position ul li a {
        position: absolute;
        top: 5px;
        right: 0;
        display: block;
        overflow: hidden;
        max-width: 22rem;
        padding: .3rem 1rem;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        white-space: nowrap;
        text-transform: uppercase;
        opacity: 0;
        color: #fff;
        border-radius: 10rem;
        background: transparent;
    }

    .nav-position ul li a:after {
        content: none
    }
    .nav-position ul li.active a,
    .nav-position ul li:hover a {

        right: 3rem;
        opacity: 1;
    }
    body.page-template-one-page #main-footer {
        position:fixed;
        background: transparent;
    }
    .et-social-icons li {
        margin-left: 20px;
    }
}


